*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
sdk/build/intermediates/cxx/Debug/1f33p5f2/logs/arm64-v8a/build_command_opencv_jni_shared
sdk/build/intermediates/cxx/Debug/1f33p5f2/logs/arm64-v8a/build_model.json
sdk/build/intermediates/cxx/Debug/1f33p5f2/logs/arm64-v8a/build_stderr_opencv_jni_shared.txt
sdk/build/intermediates/cxx/Debug/1f33p5f2/logs/arm64-v8a/build_stdout_opencv_jni_shared.txt
sdk/build/intermediates/cxx/Debug/1f33p5f2/logs/arm64-v8a/generate_cxx_metadata_2827_timing.txt
sdk/build/intermediates/cxx/Debug/1f33p5f2/logs/arm64-v8a/generate_cxx_metadata_363_timing.txt
sdk/build/intermediates/cxx/Debug/1f33p5f2/logs/arm64-v8a/generate_cxx_metadata_5296_timing.txt
sdk/build/intermediates/cxx/Debug/1f33p5f2/logs/arm64-v8a/metadata_generation_record.json
sdk/build/intermediates/cxx/Debug/1f33p5f2/logs/armeabi-v7a/build_command_opencv_jni_shared
sdk/build/intermediates/cxx/Debug/1f33p5f2/logs/armeabi-v7a/build_model.json
sdk/build/intermediates/cxx/Debug/1f33p5f2/logs/armeabi-v7a/build_stderr_opencv_jni_shared.txt
sdk/build/intermediates/cxx/Debug/1f33p5f2/logs/armeabi-v7a/build_stdout_opencv_jni_shared.txt
sdk/build/intermediates/cxx/Debug/1f33p5f2/logs/armeabi-v7a/generate_cxx_metadata_2827_timing.txt
sdk/build/intermediates/cxx/Debug/1f33p5f2/logs/armeabi-v7a/generate_cxx_metadata_363_timing.txt
sdk/build/intermediates/cxx/Debug/1f33p5f2/logs/armeabi-v7a/generate_cxx_metadata_5296_timing.txt
sdk/build/intermediates/cxx/Debug/1f33p5f2/logs/armeabi-v7a/metadata_generation_record.json
sdk/build/intermediates/cxx/Debug/1f33p5f2/logs/x86/build_command_opencv_jni_shared
sdk/build/intermediates/cxx/Debug/1f33p5f2/logs/x86/build_model.json
sdk/build/intermediates/cxx/Debug/1f33p5f2/logs/x86/build_stderr_opencv_jni_shared.txt
sdk/build/intermediates/cxx/Debug/1f33p5f2/logs/x86/build_stdout_opencv_jni_shared.txt
sdk/build/intermediates/cxx/Debug/1f33p5f2/logs/x86/generate_cxx_metadata_23_timing.txt
sdk/build/intermediates/cxx/Debug/1f33p5f2/logs/x86/generate_cxx_metadata_2827_timing.txt
sdk/build/intermediates/cxx/Debug/1f33p5f2/logs/x86/generate_cxx_metadata_358_timing.txt
sdk/build/intermediates/cxx/Debug/1f33p5f2/logs/x86/generate_cxx_metadata_5296_timing.txt
sdk/build/intermediates/cxx/Debug/1f33p5f2/logs/x86/metadata_generation_record.json
sdk/build/intermediates/cxx/Debug/1f33p5f2/logs/x86_64/build_model.json
sdk/build/intermediates/cxx/Debug/1f33p5f2/logs/x86_64/generate_cxx_metadata_205_timing.txt
sdk/build/intermediates/cxx/Debug/1f33p5f2/logs/x86_64/generate_cxx_metadata_215_timing.txt
sdk/build/intermediates/cxx/Debug/1f33p5f2/logs/x86_64/generate_cxx_metadata_2827_timing.txt
sdk/build/intermediates/cxx/Debug/1f33p5f2/logs/x86_64/generate_cxx_metadata_358_timing.txt
sdk/build/intermediates/cxx/Debug/1f33p5f2/logs/x86_64/generate_cxx_metadata_496_timing.txt
sdk/build/intermediates/cxx/Debug/1f33p5f2/logs/x86_64/generate_cxx_metadata_5296_timing.txt
sdk/build/intermediates/cxx/Debug/1f33p5f2/obj/arm64-v8a/libc++_shared.so
sdk/build/intermediates/cxx/Debug/1f33p5f2/obj/arm64-v8a/libopencv_jni_shared.a
sdk/build/intermediates/cxx/Debug/1f33p5f2/obj/armeabi-v7a/libc++_shared.so
sdk/build/intermediates/cxx/Debug/1f33p5f2/obj/armeabi-v7a/libopencv_jni_shared.a
sdk/build/intermediates/cxx/Debug/1f33p5f2/obj/x86/libc++_shared.so
sdk/build/intermediates/cxx/Debug/1f33p5f2/obj/x86/libopencv_jni_shared.a
sdk/build/intermediates/cxx/RelWithDebInfo/3y3r1911/logs/x86/build_model.json
sdk/build/intermediates/cxx/RelWithDebInfo/3y3r1911/logs/x86/configure_command
sdk/build/intermediates/cxx/RelWithDebInfo/3y3r1911/logs/x86/configure_stderr.txt
sdk/build/intermediates/cxx/RelWithDebInfo/3y3r1911/logs/x86/configure_stdout.txt
sdk/build/intermediates/cxx/RelWithDebInfo/3y3r1911/logs/x86/generate_cxx_metadata_23_timing.txt
sdk/build/intermediates/cxx/RelWithDebInfo/3y3r1911/logs/x86/metadata_generation_record.json
sdk/build/intermediates/incremental/debug/packageDebugResources/compile-file-map.properties
sdk/build/intermediates/library_jni/debug/copyDebugJniLibsProjectOnly/jni/arm64-v8a/libc++_shared.so
sdk/build/intermediates/library_jni/debug/copyDebugJniLibsProjectOnly/jni/armeabi-v7a/libc++_shared.so
sdk/build/intermediates/library_jni/debug/copyDebugJniLibsProjectOnly/jni/x86/libc++_shared.so
sdk/build/intermediates/merged_native_libs/debug/mergeDebugNativeLibs/out/lib/arm64-v8a/libc++_shared.so
sdk/build/intermediates/merged_native_libs/debug/mergeDebugNativeLibs/out/lib/armeabi-v7a/libc++_shared.so
sdk/build/intermediates/merged_native_libs/debug/mergeDebugNativeLibs/out/lib/x86/libc++_shared.so
.idea/vcs.xml
.idea/render.experimental.xml
.idea/misc.xml
.idea/.name
.idea/compiler.xml
.idea/deploymentTargetSelector.xml
.idea/gradle.xml
.idea/kotlinc.xml
.idea/migrations.xml
sdk/build/intermediates/cxx/Debug/1f33p5f2/logs/x86_64/build_model.json
sdk/build/intermediates/incremental/debug/packageDebugResources/compile-file-map.properties
